@import "normalize";
@import "loaders";

$mainColor : #929292;
$mainBackground : #f2f2f2;
$mainBorderRadius: 4px;
$mainShadow : 0px 0px 20px 2px rgb(112 112 112 / 25%);
$focusColor : #222;
$mainBorder : #cfcfcf;

#app {
	min-height: 100vh;
	background-color: $mainBackground;
	display: flex;
	align-items: center;
}

*:focus {
	box-shadow: 0 0 10px $mainColor !important;
	color: $focusColor !important;
}

.app-inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: $mainColor;
}

.app-main-title {
	width: 100%;
	text-align: center;
	margin-bottom: 75px;
	font-size: 32px;
	text-transform: uppercase;
	display: block;
	margin-top: 0;
}

.card {
	padding: 30px;
	border-radius: $mainBorderRadius;
	background-color: $mainBackground;
	color: $mainColor;
	
	box-shadow: $mainShadow;
	border: none;
	outline: none;
	transition: .2s ease;

	&-title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 70px;

	}

	&-icon svg {
		width: 130px;
		height: 100px;
	}
}

.app-main-card {
	width: 300px;
	margin: 0 15px 25px;
	min-height: 350px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
		color: $focusColor;
		box-shadow: 0 0 30px $mainColor !important;
	}
}

.component-slider-wrapper {
	position: fixed;
	width: 100%;
	padding: 15px 0;
	background-color: $mainBackground;
	top: 0;
	left: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	&--show {
		left: 0;
		transition: .3s;
	}

	&--hide {
		left: -100%;
		transition: .3s;
	}

	&-close {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 40px;
		height: 40px;
		border: none;
		outline: none;
		background: transparent;
		border-radius: 50%;
		padding: 0;
		cursor: pointer;
		transition: .1s ease;

		svg {
			width: 100%;
			height: 100%;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}

.component-slider-inner {
	width: 80%;
	padding: 50px;
	border-radius: 16px;
	height: calc(100vh - 130px);
	overflow-y: auto;
}

.default-modal-caption {
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 26px;
	color: $mainColor;
	line-height: 1.5;
}

.label-default {
	font-size: 18px;
	display: inline-block;
	color: $mainColor;
	margin-bottom: 10px;
}

.input-default {
	padding: 7px;
	border: 1px solid $mainBorder;
	outline: none;
	font-size: 17px;
	color: $mainColor;
	border-radius: $mainBorderRadius;
	background-color: $mainBackground;
	line-height: 1.25;
}

.button-add {
	margin-left: 15px;
	border: none;
	outline: none;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	cursor: pointer;
	padding: 0;

	svg {
		color: $mainColor;
		width: 100%;
		height: 100%;
	}
}

.add-category-card {
	display: flex;
	flex-wrap: wrap;
	padding: 25px;
}

.category-card-row {
	width: 33.3%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: wrap;

	label {
		width: 100%;
	}

	.total {
		text-transform: uppercase;
		font-weight: 700;
		padding-top: 5px;
		color: $focusColor;

		.totalValue {
			color: #353872;
		}
	}
}

.category-card-row-single-item {
	align-items: start;
	padding-top: 30px;

	.btn-primary {
		width: 100%;
		height: 37px;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.category-card-row-three-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;

	button {
		margin-bottom: 15px;
		width: 32%;
		height: 37px;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.btn-primary {
	background-color: #484C93;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #484C93;

	&:hover {
		background-color: #353872;
		border: 1px solid #353872;
	}

	&:focus {
		color: #fff !important;
	}
}

.btn-warning {
	background-color: #EA9200;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #EA9200;

	&:hover {
		background-color: #dd8a05;
		border: 1px solid #dd8a05;
	}

	&:focus {
		color: #fff !important;
	}
}

.btn-danger {
	background-color: #a51818;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #a51818;

	&:hover {
		background-color: #8f1515;
		border: 1px solid #8f1515;
	}

	&:focus {
		color: #fff !important;
	}
}

.category-filters-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.filter {
		padding: 8px 16px;
		font-size: 18px;
		border-radius: 100px;
		background-color: $mainColor;
		color: $mainBackground;
		cursor: pointer;
		margin-right: 10px;
		margin-bottom: 10px;

		&:hover {
			filter: brightness(1.2);
		}
	}
}

.single-category-card {
	margin-bottom: 30px;
	padding: 25px;
	position: relative;
}

.disabled {

	input,
	button,
	select {
		padding: 0;
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
		opacity: 1;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
	}
}

.edit-category-button {
	width: 32%;
	height: 37px;
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
	border-radius: 4px;
}

.confirmation-popup-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba($color: #fff, $alpha: 0.5);
	backdrop-filter: blur(10px);
	transition: .25s ease;
	opacity: 0;
	z-index: -1;

	.confirmation-popup {
		position: fixed;
		top: -100%;
		left: 50%;
		transform: translate(-50%);
		width: 90%;
		max-width: 600px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: .35s ease;
		z-index: 10001;
		
		.confirmation-popup-title {
			width: 100%;
			font-size: 25px;
			color: $focusColor;
			margin-bottom: 50px;
	
			#confirmationPopupQuestion {
				color: #a51818;
				font-weight: 600;
			}
		}
	
		
		button {
			width: 45%;
			padding: 15px 0;
		}
	}

		
	&.opened {
		opacity: 1;
		z-index: 10000;

		.confirmation-popup {
			top: 5%;
		}
	}
}

.update-filters, .save-spendings{
	width: 50%;
	min-width: 250px;
	margin-top: 30px;
	height: 50px;
	font-weight: 600;
	text-transform: uppercase;
}

.filter-row {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	label {
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		width: unset;
	}

	input:not([type="radio"]){
		margin-right: 15px;
		width: 100px;
	}

	input[type="radio"] {
		margin-right: 15px;

		&:focus {
			box-shadow: none !important;
		}
	}
}

.card--small {
	margin-bottom: 10px;
	padding: 20px;
	position: relative;

	.title-wrapper {
		width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
    white-space: nowrap;
	}

	.title{
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		word-wrap: none;
	}

	.total {
		font-weight: 20px;
		color: $focusColor;
		position: absolute;
		top: 50%;
		right: 20px;
		font-weight: 700;
		transform: translate(0,-50%);
	}
}