@import "normalize";

$mainColor : #929292;
$mainBackground : #f2f2f2;
$mainBorderRadius: 4px;
$mainShadow : 0px 0px 20px 2px rgb(112 112 112 / 25%);
$focusColor : #222;
$mainBorder : #cfcfcf;

#app {
	min-height: 100vh;
	background-color: $mainBackground;
	display: flex;
	align-items: center;
}

*:focus {
	box-shadow: 0 0 10px $mainColor !important;
	color: $focusColor !important;
}

.app-inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: $mainColor;
}

.app-main-title {
	width: 100%;
	text-align: center;
	margin-bottom: 75px;
	font-size: 32px;
	text-transform: uppercase;
	display: block;
	margin-top: 0;
}

.card {
	padding: 30px;
	border-radius: $mainBorderRadius;
	background-color: $mainBackground;
	color: $mainColor;
	
	box-shadow: $mainShadow;
	border: none;
	outline: none;
	transition: .2s ease;

	&-title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 70px;

	}

	&-icon svg {
		width: 130px;
		height: 100px;
	}
}

.app-main-card {
	width: 300px;
	margin: 0 15px 25px;
	min-height: 350px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
		color: $focusColor;
		box-shadow: 0 0 30px $mainColor !important;
	}
}

.component-slider-wrapper {
	position: fixed;
	width: 100%;
	padding: 15px 0;
	background-color: $mainBackground;
	top: 0;
	left: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	&--show {
		left: 0;
		transition: .3s;
	}

	&--hide {
		left: -100%;
		transition: .3s;
	}

	&-close {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 40px;
		height: 40px;
		border: none;
		outline: none;
		background: transparent;
		border-radius: 50%;
		padding: 0;
		cursor: pointer;
		transition: .1s ease;

		svg {
			width: 100%;
			height: 100%;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}

.component-slider-inner {
	width: 80%;
	padding: 50px;
	border-radius: 16px;
	height: calc(100vh - 130px);
	overflow-y: auto;
}

.default-modal-caption {
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 26px;
	color: $mainColor;
	line-height: 1.5;
}

.label-default {
	font-size: 18px;
	display: inline-block;
	color: $mainColor;
	margin-bottom: 10px;
}

.input-default {
	padding: 7px;
	border: 1px solid $mainBorder;
	outline: none;
	font-size: 17px;
	color: $mainColor;
	border-radius: $mainBorderRadius;
	background-color: $mainBackground;
	line-height: 1.25;
}

.button-add {
	margin-left: 15px;
	border: none;
	outline: none;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	cursor: pointer;
	padding: 0;

	svg {
		color: $mainColor;
		width: 100%;
		height: 100%;
	}
}

.add-category-card {
	display: flex;
	flex-wrap: wrap;
	padding: 25px;
}

.category-card-row {
	width: 33%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: wrap;

	label {
		width: 100%;
	}
}

.category-card-row-single-item {
	align-items: start;
	padding-top: 30px;

	.btn-primary {
		width: 100%;
		height: 37px;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.category-card-row-three-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;

	button {
		margin-bottom: 15px;
		width: 32%;
		height: 37px;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.btn-primary {
	background-color: #484C93;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #484C93;

	&:hover {
		background-color: #353872;
		border: 1px solid #353872;
	}

	&:focus {
		color: #fff !important;
	}
}

.btn-warning {
	background-color: #EA9200;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #EA9200;

	&:hover {
		background-color: #dd8a05;
		border: 1px solid #dd8a05;
	}

	&:focus {
		color: #fff !important;
	}
}

.btn-danger {
	background-color: #a51818;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #a51818;

	&:hover {
		background-color: #8f1515;
		border: 1px solid #8f1515;
	}

	&:focus {
		color: #fff !important;
	}
}

.category-filters-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.filter {
		padding: 8px 16px;
		font-size: 18px;
		border-radius: 100px;
		background-color: $mainColor;
		color: $mainBackground;
		cursor: pointer;
		margin-right: 10px;
		margin-bottom: 10px;

		&:hover {
			filter: brightness(1.2);
		}
	}
}

.single-category-card {
	margin-bottom: 30px;
	padding: 25px;
	position: relative;
}

.disabled {

	input,
	button {
		padding: 0;
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}

.edit-category-button {
	width: 32%;
	height: 37px;
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
	border-radius: 4px;
}

.confirmation-popup-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba($color: #fff, $alpha: 0.5);
	backdrop-filter: blur(10px);
	transition: .25s ease;
	opacity: 0;
	z-index: -1;

	.confirmation-popup {
		position: fixed;
		top: -100%;
		left: 50%;
		transform: translate(-50%);
		width: 90%;
		max-width: 600px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: .35s ease;
		z-index: 10001;
		
		.confirmation-popup-title {
			width: 100%;
			font-size: 25px;
			color: $focusColor;
			margin-bottom: 50px;
	
			#confirmationPopupQuestion {
				color: #a51818;
				font-weight: 600;
			}
		}
	
		
		button {
			width: 45%;
			padding: 15px 0;
		}
	}

		
	&.opened {
		opacity: 1;
		z-index: 10000;

		.confirmation-popup {
			top: 5%;
		}
	}
}

.update-filters {
	width: 50%;
	min-width: 250px;
	margin-top: 30px;
	height: 50px;
	font-weight: 600;
	text-transform: uppercase;
}

.bouncer-loader {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 100px;
	height: 100px;
}

.bouncer-loader div {
	width: 20px;
	height: 20px;
	background: #353872;
	border-radius: 50%;
	animation: bouncer 0.5s cubic-bezier(.19, .57, .3, .98) infinite alternate;
}

.bouncer-loader div:nth-child(2){
	animation-delay: 1s;
	opacity: 0.8;
}

.bouncer-loader div:nth-child(3){
	animation-delay: 2s;
	opacity: 0.7;
}

.bouncer-loader div:nth-child(4){
	animation-delay: 3s;
	opacity: 0.6;
}

@keyframes bouncer {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100px);
	}
}

.loader-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader-wrapper.fixed {
	position: fixed;
	width: 100vw !important;
	height: 100vh !important;
	z-index: 100000;
	top: 0;
	left: 0;
	background-color: rgba($color: #fff, $alpha: 0.5);
	backdrop-filter: blur(10px);
}

.square-loader {
	width: 100px;
	height: 100px;
	position: relative;
	perspective: 200px;
}

.square-loader div {
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	background-color: #353872;
	animation: flip 2s linear infinite;
	transform-origin: right bottom;
}

.square-loader div:nth-child(2) {
	animation-delay: 1s;
	opacity: 0.5;
}

@keyframes flip {
	0% {
		transform: rotateX(0) rotateY(0);
	}
	25% {
		transform: rotateX(0) rotateY(180deg);
	}
	50% {
		transform: rotateX(180deg) rotateY(180deg);
	}
	75% {
		transform: rotateX(180deg) rotateY(0);
	}
	100% {
		transform: rotateX(0) rotateY(0);
	}
}

.spinner-loader {
	width: 100px;
	height: 100px;
	position: relative;
}

.spinner-loader div {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 10px solid transparent;
	border-top-color: #353872;
	border-radius: 50%;
	animation: spinnerOne 1.2s linear infinite;
}

.spinner-loader div:nth-child(2) {
	border: 10px solid transparent; 
	border-bottom-color: #353872;
	animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
	0% {
		transform: rotate(0deg);
		border-width: 10px;
	}

	50% {
		transform: rotate(180deg);
		border-width: 1px;
	}

	100% {
		transform: rotate(360deg);
		border-width: 10px;
	}
}

@keyframes spinnerTwo {
	0% {
		transform: rotate(0deg);
		border-width: 1px;
	}

	50% {
		transform: rotate(180deg);
		border-width: 10px;
	}

	100% {
		transform: rotate(360deg);
		border-width: 1px;
	}
}