@import "normalize";
@import "loaders";
@import "transitions";
@import "chart";

$mainColor : #929292;
$mainBackground : #f2f2f2;
$mainBorderRadius: 4px;
$mainShadow : 0px 0px 20px 2px rgb(112 112 112 / 25%);
$focusColor : #222;
$mainBorder : #cfcfcf;

#app {
	min-height: 100vh;
	background-color: $mainBackground;
	display: flex;
	align-items: center;
}

*:focus {
	box-shadow: 0 0 10px $mainColor !important;
	color: $focusColor !important;
}

.app-inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: $mainColor;

	@media(max-width: 1200px) {
		padding-top: 75px;
	}
}

.app-main-title {
	width: 100%;
	text-align: center;
	margin-bottom: 75px;
	font-size: 32px;
	text-transform: uppercase;
	display: block;
	margin-top: 0;

	@media(max-width: 767px) {
		font-size: 28px;
		margin-bottom: 50px;
	}
}

.card {
	padding: 30px;
	border-radius: $mainBorderRadius;
	background-color: $mainBackground;
	color: $mainColor;

	@media(max-width: 768px) {
		padding: 15px;
	}

	box-shadow: $mainShadow;
	border: none;
	outline: none;
	transition: .2s ease;

	&-title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 70px;

	}

	&-icon svg {
		width: 130px;
		height: 100px;
	}
}

.app-main-card {
	width: 300px;
	margin: 0 10px 25px;
	min-height: 350px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	cursor: pointer;


	&:hover {
		transform: scale(1.05);
		color: $focusColor;
		box-shadow: 0 0 30px $mainColor !important;

		@media(max-width: 768px) {
			transform: unset;
			color: unset;
			box-shadow: unset;
		}
	}
}

.component-slider-wrapper {
	position: fixed;
	width: 100%;
	padding: 15px 0;
	background-color: $mainBackground;
	top: 0;
	left: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	&--show {
		left: 0;
		transition: .3s;
	}

	&--hide {
		left: -100%;
		transition: .3s;
	}

	&-close {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 40px;
		height: 40px;
		border: none;
		outline: none;
		background: transparent;
		border-radius: 50%;
		padding: 0;
		cursor: pointer;
		transition: .1s ease;

		@media(max-width: 1200px) {
			top: 15px;
			right: 5px;
			width: 30px;
			height: 30px;
		}

		@media(max-width: 767px) {
			top: 5px;
			right: unset;
			left: 0px;
			width: 30px;
			height: 30px;
		}

		svg {
			width: 100%;
			height: 100%;
		}

		&:hover {
			transform: scale(1.1);		
			
			@media(max-width: 768px) {
				transform: unset;
			}
		}
	}
}

.component-slider-inner {
	width: 90%;
	padding: 50px;
	border-radius: 16px;
	height: calc(100vh - 30px);
	overflow-y: auto;

	@media(max-width: 767px) {
		width: calc(100% - 30px);
		padding: 20px 15px;
	}
}

.default-modal-caption {
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 26px;
	color: $mainColor;
	line-height: 1.5;

	@media(max-width: 768px) {
		font-size: 20px;
	}
}

.label-default {
	font-size: 18px;
	display: inline-block;
	color: $mainColor;
	margin-bottom: 10px;
}

.input-default {
	padding: 7px;
	border: 1px solid $mainBorder;
	outline: none;
	font-size: 17px;
	color: $mainColor;
	border-radius: $mainBorderRadius;
	background-color: $mainBackground;
	line-height: 1.25;
}

.button-add {
	margin-left: 15px;
	border: none;
	outline: none;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	cursor: pointer;
	padding: 0;

	@media(max-width: 768px) {
		width: 30px;
		height: 30px;
		margin-left: 10px;
	}

	svg {
		color: $mainColor;
		width: 100%;
		height: 100%;
	}
}

.add-category-card {
	display: flex;
	flex-wrap: wrap;
	padding: 25px;
}

.category-card-row {
	width: 33.3%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: wrap;

	@media(max-width: 1200px) {
		width: 100%;	
	}

	label {
		width: 100%;
	}

	.total {
		text-transform: uppercase;
		font-weight: 700;
		padding-top: 5px;
		color: $focusColor;

		.totalValue {
			color: #353872;
		}
	}
}

.category-card-row-single-item {
	align-items: start;
	padding-top: 30px;

	.btn-primary {
		width: 100%;
		height: 37px;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.category-card-row-three-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;

	button {
		margin-bottom: 15px;
		width: 32%;
		height: 37px;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		@media(max-width: 768px) {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.btn-primary {
	background-color: #484C93;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #484C93;

	&:hover {
		background-color: #353872;
		border: 1px solid #353872;		
		
		@media(max-width: 768px) {
			background-color: #484C93;
			border: 1px solid #484C93;
		}
	}

	&:focus {
		color: #fff !important;
	}
}

.btn-warning {
	background-color: rgb(234, 146, 0);
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #EA9200;

	&:hover {
		background-color: #dd8a05;
		border: 1px solid #dd8a05;

		@media(max-width: 768px) {
			background-color: #EA9200;
			border: 1px solid #EA9200;
		}
	}

	&:focus {
		color: #fff !important;
	}
}

.btn-danger {
	background-color: #a51818;
	border-radius: $mainBorderRadius;
	color: #fff;
	outline: none;
	cursor: pointer;
	border: 1px solid #a51818;

	&:hover {
		background-color: #8f1515;
		border: 1px solid #8f1515;

		@media(max-width: 768px) {
			background-color: #a51818;
			border: 1px solid #a51818;
		}
	}

	&:focus {
		color: #fff !important;
	}
}

.category-filters-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.filter {
		padding: 8px 16px;
		font-size: 18px;
		border-radius: 100px;
		background-color: $mainColor;
		color: $mainBackground;
		cursor: pointer;
		margin-right: 10px;
		margin-bottom: 10px;

		&:hover {
			filter: brightness(1.2);

			@media(max-width: 768px) {
				filter: unset;
			}
		}
	}
}

.single-category-card {
	margin-bottom: 30px;
	padding: 25px;
	position: relative;

	@media(max-width: 768px) {
		padding: 15px;
	}
}

.disabled {

	input,
	button,
	select {
		padding: 0;
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
		opacity: 1;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
	}
}

.edit-category-button {
	width: 32%;
	height: 37px;
	cursor: pointer;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media(max-width: 768px) {
		width: 100%;
	}
}

::-webkit-scrollbar {
	width: 9px;
}

::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
	border-radius: 4px;
}

.confirmation-popup-wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background-color: rgba($color: #fff, $alpha: 0.5);
	backdrop-filter: blur(10px);
	transition: .25s ease;
	opacity: 0;
	z-index: -1;
	top: 0%;

	.confirmation-popup {
		position: fixed;
		top: -100%;
		left: 50%;
		transform: translate(-50%);
		width: 90%;
		max-width: 600px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		transition: .35s ease;
		z-index: 10001;

		.confirmation-popup-title {
			width: 100%;
			font-size: 25px;
			color: $focusColor;
			margin-bottom: 50px;

			#confirmationPopupQuestion {
				color: #a51818;
				font-weight: 600;
			}
		}


		button {
			width: 45%;
			padding: 15px 0;
		}
	}


	&.opened {
		opacity: 1;
		z-index: 10000;

		.confirmation-popup {
			top: 5%;
		}
	}
}

.update-filters,
.save-spendings {
	width: 50%;
	min-width: 250px;
	margin-top: 30px;
	height: 50px;
	font-weight: 600;
	text-transform: uppercase;

	
	@media(max-width: 768px) {
		width: 100%;
	}
}

.filter-row {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	label {
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		width: unset;
		display: flex;
		flex-direction: column-reverse;
	}

	input:not([type="radio"]) {
		margin-right: 15px;
		width: 100px;

		@media(max-width: 768px) {
			width: 100%;
			margin-top: 5px;
		}
	}

	input[type="radio"] {
		margin-right: 15px;

		&:focus {
			box-shadow: none !important;
		}
	}
}

.card--small {
	margin-bottom: 10px;
	padding: 20px;
	position: relative;

	.title-wrapper {
		width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.title {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		word-wrap: none;
	}

	.total {
		font-weight: 20px;
		color: $focusColor;
		position: absolute;
		top: 50%;
		right: 20px;
		font-weight: 700;
		transform: translate(0, -50%);
	}
}

.edit-cards-wrapper {
	padding: 25px;
	padding-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;

	.edit-card {
		width: 22.5%;
		aspect-ratio: 2 / 1;
		box-sizing: border-box;
		margin-right: 3.333%;
		margin-bottom: 25px;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		transition: .25s ease;
		border: 3px solid transparent;

		@media(max-width: 768px) {
			width: 100%;
			margin-right: 0;
			max-height: 150px;
		}

		.title {
			text-overflow: ellipsis;
			word-break: break-word;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-moz-box-orient: vertical;
			-ms-box-orient: vertical;
			box-orient: vertical;
			-webkit-line-clamp: 2;
			-moz-line-clamp: 2;
			-ms-line-clamp: 2;
			line-clamp: 2;
			overflow: hidden;
		}

		&:hover {
			transform: scale(1.05);
			color: $focusColor;
			box-shadow: 0 0 10px $mainColor !important;

			
			@media(max-width: 768px) {
				transform: unset;
				color: unset;
				box-shadow: unset;
			}
		}

		&:nth-child(4n) {
			margin-right: 0;
		}

		&--active {
			border: 3px solid $focusColor;
			color: $focusColor;
		}
	}
}

.no-spendings-title {
	font-size: 24px;
	font-weight: 600;
	color: $focusColor;
}

.spending-name {
	font-size: 18px;
	font-weight: 600;
	color: $focusColor;
	margin-bottom: 15px;
}

.btn-change-view {
	display: block;
	width: 100%;
	max-width: 400px;
	height: 37px;
	cursor: pointer;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.date-range-picker-label {
	display: flex;
	flex-wrap: wrap;
	max-width: 400px;
	margin-bottom: 20px;

	span {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 600;
	}

	.inputs-wrapper {
		width: 100%;
		display: flex;
		padding: 10px 5px;
		justify-content: space-between;
		border-radius: $mainBorderRadius;
		border: 1px solid $mainBorder;
	}

	input {
		background-color: transparent;
		border: none;
		width: 35%;
		color: $mainColor;
		outline: none;

		&:focus {
			box-shadow: none !important;
		}
	}

	svg {
		width: 20px;
	}
}

.show-spendings-card-list-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.show-spendings-card--list {
	height: 60px;
	transition: all 0.5s ease;
	margin-bottom: 20px;
	padding: 0;
	overflow: hidden;

	
	@media(max-width: 768px) {
		margin-bottom: 10px;
	}

	.acordion-trigger {
		width: 100%;
		height: 60px;
		position: relative;
		cursor: pointer;
		padding: 15px;
		display: block;
	}

	.date-of-spending {
		position: absolute;
		line-height: 30px;
		top: 15px;
		right: 15px;
		font-size: 16px;
		font-weight: 600;
	}

	.description-of-spendig {
		line-height: 30px;
		font-size: 16px;
		text-transform: uppercase;
		max-width: calc(100% - 100px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.spending-detais {
		padding: 0 15px 15px;
		display: flex;
		flex-wrap: wrap;

		.spendings-details-desctiption {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 15px;
			width: 100%;
		}

		.details-category {
			padding-bottom: 40px;
			margin-bottom: 10px;
			display: inline-block;
			border-bottom: 1px solid $focusColor;
			padding-right: 15px;
			margin-right: 15px;
			position: relative;

			@media(max-width: 767px) {
				margin-bottom: 25px;
				width: 100%;
				margin-right: 0;
			}

			.details-category-title {
				font-size: 16px;
				text-transform: uppercase;
				margin-bottom: 5px;
				font-weight: 600;
				color: $focusColor;
			}

			.details-category-spend {
				line-height: 20px;
				font-size: 16px;
				font-weight: 600;
			}

			.details-category-total {
				padding-top: 10px;
				text-transform: uppercase;
				color: $focusColor;
				position: absolute;
				left: 0;
				bottom: 5px;
				font-weight: 600;
			}
		}

		.spendings-details-total {
			width: 100%;
			font-size: 20px;
			font-weight: 700;
			color: $focusColor;
		}
	}
}

.sorts-panel {
	padding: 15px 35px 15px 15px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
	min-height: 60px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.sorts-panel-column {
		display: flex;
		align-items: center;
		padding-top: 5px;
		padding-bottom: 5px;

		@media(max-width: 767px) {
			flex-wrap: wrap;

			label:not(.sort-label){
				flex-wrap: wrap;
				margin-right: 0;
				width: 100%;

				span {
					width: 100%;
					display: block;
					margin-bottom: 10px;

					&.dash {
						width: unset;
						margin-right: 5px;
					}
				}
			}
			
			.sort-label {
				span {
					padding-top: 5px;
					padding-bottom: 5px;
				}

				input {
					margin-right: 10px;
				}
			}



			input {
				margin-right: 5px;
			}
		}
	}

	.sort-button {
		position: absolute;
		bottom: 25px;
		right: 15px;
		border: none;
		background-color: transparent;
		outline: none !important;
		cursor: pointer;
		color: $mainColor;

		@media(max-width: 1400px) {
			bottom: 15px;
		}

		
		svg {
			width: 20px;
			transition: .25s;

			path {
				transition: .25s;
			}
		}

		&:focus {
			outline: none !important;
			box-shadow: none !important;
			color: $mainColor !important;
		}
	}

	label {
		display: flex;
		align-items: center;
		margin-right: 20px;

		span {
			margin-right: 10px;
			font-weight: 600;
		}

		input {
			margin-right: 10px;
		}

		input[type="number"] {
			width: 100px;
		}
	}

	.sort-label {
		margin-right: 0;

		input:focus {
			box-shadow: none !important;
			outline: none !important;
		}
	}
}

.icon-reset-filters {
	border: none;
	outline: none;
	box-shadow: none;
	color: $mainColor;
	margin-right: 20px;
	padding: 0;
	cursor: pointer;
	background-color: transparent;

	@media(max-width: 767px) {
		margin-right: 0;
	}


	&:focus {
		box-shadow: none !important;
		outline: none !important;
		color: $mainColor !important;
	}

	svg {
		width: 30px;
		height: 30px;
	}
}

.chart-wrapper {
	padding: 5px;
	background-color: #fff;
	margin-bottom: 25px;
	width: 100%;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
	background: linear-gradient(0.25turn, #353872, #484C93, #353872);
	border-radius: 8px;
}

.show-spendings-diagrams-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.chart-pie-wrapper {
	width: 100%;
}


.enabled-filters-wrapper {
	display: flex;
	justify-content: space-between;

	.category-row {
		width: calc(50% - 10px);
		background-color: #fff;
		padding: 20px;
		margin-bottom: 20px;

		.category-name {
			width: 100%;
			font-weight: 600;
			color: $focusColor;
			font-size: 18px;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
		}

		.filters {
			display: flex;
			flex-wrap: wrap;
			
			.filter-row {
				height: 38px;
				width: auto;
				margin-right: 15px;
				padding: 10px;
				border-radius: $mainBorderRadius;
				background-color: $mainBackground;
				color: $mainColor;
				cursor: pointer;
	
				input {
					border: none;
					background-color: #fff;
					outline: none;
					border-radius: 0;
				}
			}
		}

		input {
			width: 15px;
			height: 15px;
			margin-left: 15px;
			background-color: red;
			margin-right: 0;
		}
	}
}

.login-form-wrapper {
	width: 100%;
	max-width: 600px;
	height: 100%;
	max-height: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	.login-form-title {
		text-align: center;
		margin-top: 20px;
		font-size: 48px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 50px;
	}

	.input-wrapper {
		display: block;
		margin-bottom: 25px;
		font-size: 18px;
		color: $focusColor;
		font-weight: 600;
		display: flex;
		flex-direction: column;
		position: relative;

		input {
			width: 100%;
			margin-top: 10px;
			height: 48px;
			padding-left: 12px;
		}

		.show-password-button {
			width: 48px;
			height: 48px;
			position: absolute;
			bottom: 0;
			right: 0;
			border: none;
			outline: none;
			background: transparent;
			border-radius: $mainBorderRadius;
			cursor: pointer;

			svg {
				width: 16px;
				color: $focusColor;
			}
		}
	}

	.login-button {
		width: 50%;
		height: 48px;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 1px;
		margin-bottom: 25px;
	}
	
	.change-method-button {
		display: block;
		color: rgb(53, 56, 114);
		background: none;
		outline: none;
		border: none;
		cursor: pointer;
		border-radius: $mainBorderRadius;
		font-weight: 700;

		&:focus {
			box-shadow: none !important;
		}

		&:focus, &:hover {
			text-decoration: underline;

			@media(max-width: 768px) {
				text-decoration: none;
			}
		}
	}

	.error {
		color: rgb(143, 21, 21);
		font-size: 16px;
		margin-bottom: 25px;
		display: block;
		font-weight: 600;
	}
}

.animatedCaption {
	color: $focusColor;
	animation: 2s linear 0s infinite normal animateCaption;
}

@keyframes animateCaption {
	0% {
		text-shadow: -10px -10px 0 rgba(0, 0, 255, .5), 10px 10px 0 rgba(255,0, 0, .5);
	}

	12% {
		text-shadow: 0px -15px 0 rgba(0, 0, 255, .5), 0px 15px 0 rgba(255,0, 0, .5);
	}

	24% {
		text-shadow: 10px -10px 0 rgba(0, 0, 255, .5), -10px 10px 0 rgba(255,0, 0, .5);
	}

	36% {
		text-shadow: 15px 0px rgba(0, 0, 255, .5), -15px 0px 0 rgba(255,0, 0, .5);
	}

	48% {
		text-shadow: 10px 10px rgba(0, 0, 255, .5), -10px -10px 0 rgba(255,0, 0, .5);
	}

	60% {
		text-shadow: 0px 15px 0 rgba(0, 0, 255, .5), 0px -15px 0 rgba(255,0, 0, .5);
	}

	72% {
		text-shadow: -10px 10px 0 rgba(0, 0, 255, .5), 10px -10px 0 rgba(255,0, 0, .5);
	}

	84% {
		text-shadow: -15px 0px 0 rgba(0, 0, 255, .5), 15px 0px 0 rgba(255,0, 0, .5);
	}

	100% {
		text-shadow: -10px -10px 0 rgba(0, 0, 255, .5), 10px 10px 0 rgba(255,0, 0, .5);
	}
}